<tmpl_include name="_header.tmpl">

<p>Uplinks for <a href="<tmpl_var name=device_link>"><tmpl_var name=name></a>.</p>

<form method="POST">
 <input type=hidden name="id" value="<tmpl_var name=id>" />
<table>
<tr>
<th>Uplink</th><th>Interface</th><th>Description</th>
</tr>
<tmpl_loop name="iface_list">
<tr>
<td>
<input type="checkbox" value="<tmpl_var name=interface>" name="uplinks" <tmpl_if name=checked>checked="checked"</tmpl_if> />
</td>
<td><tmpl_var name=interface></td>
<td><tmpl_var name=description></td>
</tr>
</tmpl_loop>
</table>
<input type="submit" name="submit" value="submit">
<input type="submit" name="discard" value="discard">
</form>

<tmpl_include name="_footer.tmpl">