<tmpl_include name="_header.tmpl">

<p><img class="logo" src="<tmpl_var name=base_url>/manoc-logo.jpg">
One Query to know them all,<br>One Query to find them,<br>
One Query to bring them all and<br>in the darkness shut them
</p>

<tmpl_include name="_footer.tmpl">
