<tmpl_include name="_header.tmpl">

<ul>
<li><a href="building/create">Add a new building</a></li>
<li><a href="building/list">Building list</a></li>
</ul
<ul>
<li><a href="device/create">Add a new device</a></li>
<li><a href="device/list">Device list</a></li>
</ul>

<tmpl_include name="_footer.tmpl">
