<tmpl_include name="_header.tmpl">

<table>
<tr>
  <td>Interface:</td><td><tmpl_var escape=html name="interface"></td>
</tr>
<tr>
  <td>Switch:</td><td><tmpl_var escape=html name="name">
   (<manoc_link device id=ipaddr>)</td>
</tr>
<tr>
  <td>Switch Model:</td><td><tmpl_var escape=html name="model"></td>
</tr>
<tr>
  <td>Switch Location:</td>
  <td>Building <manoc_link building id=building_id> <tmpl_var escape=html name="building_name">, Rack <manoc_link rack name=rack_name id=rack_id></td>
<tr>
  <td>Description:</td><td><tmpl_var escape=html name="if_description"></td>
</tr>
<tr>
  <td>Status (admin):</td>
  <td>
    <tmpl_var escape=html name="if_up">
    (<tmpl_var escape=html name="if_up_admin">)	
  </td>
</tr>
<tr>
  <td>Duplex (admin):</td>
  <td>
	<tmpl_var escape=html name="if_duplex">
	(<tmpl_var escape=html name="if_duplex_admin">)
  </td>
</tr>
<tr>
  <td>Vlan:</td>
  <td>
	<tmpl_var escape=html name="if_vlan">
  </td>
</tr>
<tr>
  <td>STP Status</td>
  <td><tmpl_var escape=html name="if_stp_status"></td>
</tr>
<tr>
  <td>Portsecurity:</td>
  <td>
    <tmpl_if name=if_cps_enable>
	<tmpl_var escape=html name=if_cps_status> -
	<tmpl_var escape=html name=if_cps_count> violations
    <tmpl_else>
    Disabled
    </tmpl_if>
  </td>
</tr>
<tr> 
  <td>Notes:
  <a href="<tmpl_var name=edit_note_link>"><manoc_icon edit></a>
 <tmpl_if name=delete_note_link><a onClick="javascript:return confirmDelete();"  href="<tmpl_var name=delete_note_link>"><manoc_icon remove></a></tmpl_if>
</td>
<td><tmpl_var escape=html name="if_notes"></td>
</tr>
</table>

<tmpl_loop name="mat_results">
  <tmpl_if name="__first__">
    <h2>Mac address history</h2>
    <table>
       <tr>
	 <th>Mac Address</th>
	 <th>Vlan</th>
	 <th>Description</th>
       </tr>
  </tmpl_if>
       <tr>
	  <td><manoc_link mac id=macaddr></td>
	  <td><tmpl_var name="vlan"></td>
	  <td class="date"><tmpl_var name="firstseen"></td>
	  <td class="date"><tmpl_var name="lastseen"></td>	  
       </tr>
  <tmpl_if name="__last__">
     </table>
  </tmpl_if>
</tmpl_loop>

<tmpl_include name="_footer.tmpl">
