<tmpl_include name="_header.tmpl">

<ul>
<li><a href="iprange/list">Address and subnet inventory</a></li>
<li><a href="vlanrange/list">VLAN inventory</a></li>
<li><a href="vlan/vtp">Compare VLAN to VTP</a></li>
</ul>

<tmpl_include name="_footer.tmpl">
