<tmpl_include name="_header.tmpl">

<ul>
<li><a href="stats">Statistics</a></li>
<li><a href="ip">IP conflicts and multihoming</a></li>
<li><a href="multihost">Interfaces with multiple hosts</a></li>
<li><a href="cps_shutdown">Portsecurity Shutdown Interfaces</a></li>
<li><a href="unused_ifaces">Unused interfaces</a></li>
<li><a href="device_list">Managed devices list</a></li>
<li><a href="unknown_devices">Unknown devices</a></li>
<li><a href="winlogon">Winlogon</a></li>
<li><a href="multi_mac">Multi-Mac</a></li>
</ul>

<tmpl_include name="_footer.tmpl">
