<tmpl_include name="_header.tmpl">

    <tmpl_if name=message></tmpl_if>

    <form name="form1" method="POST">
        <table>
            <tr>
                <td>Role name: </td>
                <td><input type="text" value="<tmpl_var name=role>" name="role"></input></td>
                <td><input type="submit" name="submit" value="submit"></td>
            </tr>
        </table>
    </form>
    <br>

<tmpl_include name="_footer.tmpl">
