<tmpl_include name="_header.tmpl">

<tmpl_if name=message></tmpl_if>

<form name="form1" method="POST">
	<input type=hidden name="name" value="<tmpl_var name=name>" />
	<input type=hidden name="parent" value="<tmpl_var name=parent>" />
	<table>
		<tr>
			<th>Name:</th><td><tmpl_var name=name></td>
		</tr>
		<tr>
			<th>Range:</th><td><tmpl_var name=from_addr> - <tmpl_var name=to_addr></td>
		</tr>
	</table>
	
	<h2>Merge Options</h2>
	<table>
		<tr>Merge with:</tr>
		<tr>
			<th>Name</th><th>From</th><th>To</th>
		</tr>
		<tmpl_loop name=neighbours>
			<tr>
				<td><input type=radio name=neigh value="<tmpl_var name=name>" <tmpl_if name=checked>checked</tmpl_if>><a href="<tmpl_var name=view_url>"><tmpl_var name=name></a>&nbsp;</td>
				<td><tmpl_var name=from>&nbsp;</td>
				<td><tmpl_var name=to></td>
			</tr>
		</tmpl_loop>
	</table>
	<br>
	<table>
		<tr>
			<td>Merged subnet name: </td><td><input type="text" name="new_name" value="<tmpl_var name=new_name>"/></td>
		</tr>
	</table>
	<input type="submit" name="submit" value="submit">
</form>

<script language="javascript">

function enableFields() {
	if(document.form1.radio_range.checked) {
		document.form1.from_addr.disabled = false;
		document.form1.to_addr.disabled   = false;
	} else {
		document.form1.from_addr.disabled = true;
		document.form1.to_addr.disabled   = true;
	}	

	if(document.form1.radio_subnet.checked) {
		document.form1.network.disabled   = false;
		document.form1.prefix.disabled    = false;
	} else {
		document.form1.network.disabled   = true;
		document.form1.prefix.disabled    = true;
	}
}
enableFields();
</script>

<tmpl_include name="_footer.tmpl">
